h2{
  text-align: center;
}

h4{
  font-size: 14px;
  font-weight: bold;
}

.row p {
  color: #01024e;
}

.choose{
  font-style: normal;
}

#movie{
  font-style: italic;
}

.results{
  display:none;
  margin-top: 100px;
  font-style: italic;
  font-size: 20px;
}

#submit{
  margin-top: 30px;
}

.invalid-feedback{
  display:none;
}

#validationServer01 {
  width: 25%;
}

.form-control{
  width: 25%;
}

.hiding{
  color: blue;
}

img{
  width: 400px;
  padding-right: 100px;
}

.jumbotron{
  background-color: #98FB98 ;
  padding: 20px;
  margin-top: 30px;
  border: solid;
}

#flip {
  text-align: center;
  font-weight: bold;
  border: solid;
  background-color: #98FB98;
}

.validation{
  margin-top: 20px;
}
