#movie{
  font-style: italic;
}

.results{
  display:none;
}

#submit{
  margin-top: 20px;
}

.invalid-feedback{
  display:none;
}

#validationServer01 {
  width: 25%;
}

.form-control{
  width: 25%;
}
