body {
  background-color: #f9f6f2;
}

h2{
  text-align: center;
  color: #a72693;
}

h4{
  font-size: 14px;
  color: #723881;
}

.row p {
  color: #01024e;
}

#movie{
  font-style: italic;
}

.results{
  display:none;
  margin-top: 100px;
  font-style: italic;
  font-size: 20px;
}

#submit{
  margin-top: 30px;
}

.invalid-feedback{
  display:none;
}

#validationServer01 {
  width: 25%;
}

.form-control{
  width: 25%;
}

.hiding{
  color: blue;
}
